websocket-server.json
[
  {
    "id": "91633a2b.79b008",
    "type": "mongodb",
    "z": "5acb2f70.5e63",
    "hostname": "127.0.0.1",
    "port": "27017",
    "db": "ws-chat",
    "name": ""
  },
  {
    "id": "3b57759.b72288a",
    "type": "websocket-listener",
    "z": "5acb2f70.5e63",
    "path": "/ws/broadcast",
    "wholemsg": "false"
  },
  {
    "id": "3f57dd70.162882",
    "type": "template",
    "z": "5acb2f70.5e63",
    "name": "Index.html",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html>\n    <head>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n        \n        <style>\n            html, body {\n                margin: 0;\n                height: 100%;\n                width: 100%;\n            }\n            \n            .chat-layout {\n                height: 100%;\n                width: 100%;\n            }\n        \n            .chat-upper {\n                height: calc(100% - 50px);\n                width: 100%;\n                display: inline-flex;\n            }\n            \n            .chat-lower {\n                box-sizing: border-box;\n                width: 100%;\n                border: 1px solid black;\n                position: fixed;\n                bottom: 0;\n                height: 50px;\n            }\n            \n            .users-list {\n                box-sizing: border-box;\n                width: 200px;\n                border: 1px solid black;\n                padding: 10px;\n                overflow: auto;\n            }\n            \n            .messages-list {\n                box-sizing: border-box;\n                height: 100%;\n                width: calc(100% - 200px);\n                border: 1px solid black;\n                overflow: auto;\n            }\n        </style>\n    </head>\n    <body>\n        <div class=\"chat-layout\">\n            <div class=\"chat-upper\">\n                <div class=\"users-list\">\n                    Connected users\n                    <hr/>\n                    <div id=\"users\"></div>\n                </div>\n                <div class=\"messages-list\">\n                    <div id=\"message-log\"></div>\n                </div>\n            </div>\n            <div class=\"chat-lower\">\n                <input id=\"user-name-input\" type=\"text\" placeholder=\"Set your user name\"/>\n                <input id=\"message-input\" type=\"text\" placeholder=\"Say something\" readonly/>\n            </div>\n        </div>\n        \n        <script>\n            var userNameInput = $('#user-name-input');\n            var messageInput = $('#message-input');\n            var messagesLog = $('#message-log');\n            var users = $('#users');\n            var wsUri = 'ws://localhost:1880/ws/broadcast';\n            var userName;\n            var ws;\n            \n            function processResponse(data) {\n                var parsed = JSON.parse(data);\n                \n                switch(parsed.type) {\n                    case 'message':\n                        console.log(parsed.user, ':', parsed.message, '; Score:', parsed.score);\n                        messagesLog.append('<p>' + new Date().toISOString() + ' - ' + parsed.user + ' : ' + parsed.message + '</p>');\n                        messagesLog.parent().animate({\n                            scrollTop: messagesLog.height()\n                        }, 0);\n                        break;\n                    case 'typing':\n                        console.log('User', parsed.user, 'is typing');\n                        break;\n                    case 'connect':\n                        console.log('User', parsed.user, 'connected');\n                        users.append('<p>' + parsed.user.name + '</p>');\n                        break;\n                }\n            }\n            \n            function onUserNameInput(event) {\n                if (event.keyCode === 13) {\n                    userName = userNameInput.val();\n                    userNameInput.off();\n                    messageInput.on('keyup', onMessageInput);\n                    userNameInput.attr('readonly', true);\n                    messageInput.attr('readonly', false);\n                    \n                    ws = new WebSocket(wsUri);\n                \n                    ws.onmessage = function(message) {\n                        processResponse(message.data);\n                    };\n                    \n                    ws.onopen = function() {\n                        console.log('Connected');\n                        ws.send(JSON.stringify({\n                            type: 'connect',\n                            user: userName\n                        }));\n                    };\n                    \n                    ws.onclose = function() {\n                        console.log('Closed');\n                    };\n                    \n                    ws.onerror = function(data) {\n                        console.error(data);\n                    };\n                }\n            }\n            \n            function onMessageInput(event) {\n                if (event.keyCode === 13) {\n                    ws.send(JSON.stringify({\n                        user: userName,\n                        type: 'message',\n                        message: messageInput.val()\n                    }));\n                    \n                    messageInput.val('');\n                } else {\n                    ws.send(JSON.stringify({\n                        user: userName,\n                        type: 'typing'\n                    }));\n                }\n            }\n            \n            userNameInput.on('keyup', onUserNameInput);\n        </script>\n    </body>\n</html>",
    "x": 330,
    "y": 420,
    "wires": [
      [
        "49767010.bf5a9"
      ]
    ]
  },
  {
    "id": "49767010.bf5a9",
    "type": "http response",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 670,
    "y": 420,
    "wires": []
  },
  {
    "id": "c2e7830c.aaeac",
    "type": "http in",
    "z": "5acb2f70.5e63",
    "name": "HTTP GET - Chat",
    "url": "/chat",
    "method": "get",
    "swaggerDoc": "",
    "x": 130,
    "y": 420,
    "wires": [
      [
        "3f57dd70.162882"
      ]
    ]
  },
  {
    "id": "72504a9f.1dbe74",
    "type": "websocket in",
    "z": "5acb2f70.5e63",
    "name": "WS /broadcast - Receive",
    "server": "3b57759.b72288a",
    "client": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "adcbde1c.c63b9"
      ]
    ]
  },
  {
    "id": "456c096b.82e5e8",
    "type": "websocket out",
    "z": "5acb2f70.5e63",
    "name": "WS /broadcast - Broadcast response",
    "server": "3b57759.b72288a",
    "client": "",
    "x": 1410,
    "y": 120,
    "wires": []
  },
  {
    "id": "110a60ab.be6cef",
    "type": "switch",
    "z": "5acb2f70.5e63",
    "name": "",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "message",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "typing",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "disconnect",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "outputs": 4,
    "x": 230,
    "y": 180,
    "wires": [
      [
        "ac023eeb.1e4b7"
      ],
      [
        "46762be6.469b24"
      ],
      [
        "57d1a8af.23c248"
      ],
      []
    ]
  },
  {
    "id": "46762be6.469b24",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Bypass response",
    "func": "return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 180,
    "wires": [
      [
        "5caa6488.b0c15c"
      ]
    ]
  },
  {
    "id": "5caa6488.b0c15c",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Kill session",
    "func": "msg._session = '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 990,
    "y": 180,
    "wires": [
      [
        "cd06b8b2.9820d8"
      ]
    ]
  },
  {
    "id": "13ab415c.e7bbff",
    "type": "sentiment",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 580,
    "y": 120,
    "wires": [
      [
        "a71dd8d0.7ffc28"
      ]
    ]
  },
  {
    "id": "adcbde1c.c63b9",
    "type": "json",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 90,
    "y": 180,
    "wires": [
      [
        "110a60ab.be6cef"
      ]
    ]
  },
  {
    "id": "cd06b8b2.9820d8",
    "type": "json",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 1170,
    "y": 180,
    "wires": [
      [
        "456c096b.82e5e8",
        "5e381be3.a0b864"
      ]
    ]
  },
  {
    "id": "ac023eeb.1e4b7",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Parse payload",
    "func": "msg.user = msg.payload.user;\nmsg.payload = msg.payload.message;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 120,
    "wires": [
      [
        "13ab415c.e7bbff"
      ]
    ]
  },
  {
    "id": "a71dd8d0.7ffc28",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Process response",
    "func": "var message = msg.payload;\nvar user = msg.user;\nvar score = msg.sentiment.score;\nvar timestamp = new Date();\n\ntime = [\n    ('0' + timestamp.getHours()).slice(-2),\n    ('0' + timestamp.getMinutes()).slice(-2)\n].join(':');\n\nmsg.payload = {\n    type: 'message',\n    user: user,\n    message: message,\n    score: score,\n    time: time\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 760,
    "y": 120,
    "wires": [
      [
        "5caa6488.b0c15c",
        "33630734.d55c38"
      ]
    ]
  },
  {
    "id": "f386a504.77f4b8",
    "type": "http in",
    "z": "5acb2f70.5e63",
    "name": "HTTP GET - Users",
    "url": "/api/users",
    "method": "get",
    "swaggerDoc": "",
    "x": 130,
    "y": 460,
    "wires": [
      [
        "4a2655a1.70a5cc"
      ]
    ]
  },
  {
    "id": "9fd4142f.e84cf8",
    "type": "http response",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 670,
    "y": 460,
    "wires": []
  },
  {
    "id": "5e381be3.a0b864",
    "type": "debug",
    "z": "5acb2f70.5e63",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 1330,
    "y": 220,
    "wires": []
  },
  {
    "id": "9a312ffa.5f096",
    "type": "http in",
    "z": "5acb2f70.5e63",
    "name": "HTTP GET - Messages",
    "url": "/api/messages",
    "method": "get",
    "swaggerDoc": "",
    "x": 140,
    "y": 500,
    "wires": [
      [
        "22442810.3afda8"
      ]
    ]
  },
  {
    "id": "3881736d.9e9a7c",
    "type": "http response",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 670,
    "y": 500,
    "wires": []
  },
  {
    "id": "99d7796a.9af538",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Take 5 last",
    "func": "msg.payload = msg.payload.slice(-5);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 500,
    "wires": [
      [
        "3881736d.9e9a7c"
      ]
    ]
  },
  {
    "id": "cf1db6f8.bf5198",
    "type": "mongodb out",
    "z": "5acb2f70.5e63",
    "mongodb": "91633a2b.79b008",
    "name": "Save user",
    "collection": "users",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "insert",
    "x": 650,
    "y": 340,
    "wires": []
  },
  {
    "id": "4a2655a1.70a5cc",
    "type": "mongodb in",
    "z": "5acb2f70.5e63",
    "mongodb": "91633a2b.79b008",
    "name": "Get users",
    "collection": "users",
    "operation": "find",
    "x": 320,
    "y": 460,
    "wires": [
      [
        "9fd4142f.e84cf8"
      ]
    ]
  },
  {
    "id": "22442810.3afda8",
    "type": "mongodb in",
    "z": "5acb2f70.5e63",
    "mongodb": "91633a2b.79b008",
    "name": "Get messages",
    "collection": "messages",
    "operation": "find",
    "x": 340,
    "y": 500,
    "wires": [
      [
        "99d7796a.9af538"
      ]
    ]
  },
  {
    "id": "2466f7aa.efa858",
    "type": "mongodb out",
    "z": "5acb2f70.5e63",
    "mongodb": "91633a2b.79b008",
    "name": "Save message",
    "collection": "messages",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 1200,
    "y": 60,
    "wires": []
  },
  {
    "id": "33630734.d55c38",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Get message",
    "func": "msg.payload = {\n    score: msg.payload.score,\n    user: msg.payload.user,\n    message: msg.payload.message,\n    time: msg.payload.time\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1000,
    "y": 60,
    "wires": [
      [
        "2466f7aa.efa858"
      ]
    ]
  },
  {
    "id": "bc06842f.98b908",
    "type": "http in",
    "z": "5acb2f70.5e63",
    "name": "HTTP POST - Register",
    "url": "/api/register",
    "method": "post",
    "swaggerDoc": "",
    "x": 140,
    "y": 380,
    "wires": [
      [
        "78eec447.22ec0c"
      ]
    ]
  },
  {
    "id": "16059236.6c3f3e",
    "type": "http response",
    "z": "5acb2f70.5e63",
    "name": "",
    "x": 670,
    "y": 380,
    "wires": []
  },
  {
    "id": "78eec447.22ec0c",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Set user id",
    "func": "var userId;\n\nif (global.userId) {\n    userId = ++global.userId;\n} else {\n    userId = global.userId = 1;\n}\n\nmsg.payload = {\n    name: msg.payload.user,\n    id: userId\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 380,
    "wires": [
      [
        "16059236.6c3f3e",
        "cf1db6f8.bf5198",
        "ea6ea9c4.72e908"
      ]
    ]
  },
  {
    "id": "ea6ea9c4.72e908",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Process response",
    "func": "msg.payload.type = 'connect';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 300,
    "wires": [
      [
        "5caa6488.b0c15c"
      ]
    ]
  },
  {
    "id": "6067fd90.3b38d4",
    "type": "mongodb out",
    "z": "5acb2f70.5e63",
    "mongodb": "91633a2b.79b008",
    "name": "Remove user",
    "collection": "users",
    "payonly": false,
    "upsert": false,
    "multi": false,
    "operation": "delete",
    "x": 620,
    "y": 260,
    "wires": []
  },
  {
    "id": "57d1a8af.23c248",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Parse payload",
    "func": "msg.payload = msg.payload.user;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 240,
    "wires": [
      [
        "6067fd90.3b38d4",
        "c0833982.82e218"
      ]
    ]
  },
  {
    "id": "c0833982.82e218",
    "type": "function",
    "z": "5acb2f70.5e63",
    "name": "Process response",
    "func": "msg.payload.type = 'disconnect';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 220,
    "wires": [
      [
        "5caa6488.b0c15c"
      ]
    ]
  }
]
